#root {
  height: 100%;
}

body,
html {
  height: 100%;
}

.home_page {
  max-width: 100%;
  height: 100%;
  background: linear-gradient(
      to top,
      rgba(0.001, 6, 20, 0.7),
      rgba(0, 6, 20, 0.7)
    ),
    url("../assets/image2.png") no-repeat center/cover;
}

.center_block {
  max-width: 500px;
  padding: 10% 20%;
  margin: 0 auto;
  text-align: center;
  max-height: 720px;
}

@media (max-width: 600px) {
  /* Make sure the selector correctly targets the elements you want to hide */
  .panel .button_text {
    display: none;
  }
}
