.wrapper {
  display: flex;
  max-width: 100%;
}

.side_menu {
  position: sticky;
  top: 0px;
  height: 100vh;
}

.main_content {
  flex-grow: 1;
  margin-right: 45px;
  padding-left: 35px;
}

.back_to_top {
  position: fixed;
  right: 45px;
  bottom: 0;
  color: #fff;
  background-color: #222935;
  width: 20px;
  height: 20px;
  padding: 5px;
  border-radius: 25% 25% 0% 0%;
  text-align: center;
}

@media (max-width: 600px) {
  .main_content {
    margin-right: 5px;
    padding-left: 32px;
  }
}
