.contact_details {
  font-size: 16px;
}

.contact_details li {
  display: flex;
  padding-bottom: 20px;
  gap: 10px;
}

.contact_details strong {
  font-weight: bold;
}

.icon {
  width: 40px;
  color: #26c17e;
  font-size: 26px;
}

@media (max-width: 600px) {
  .contact_details {
    font-size: 12px;
  }
}
