.button {
  height: fit-content;
  display: inline-block;
  background-color: #222935;
  border-radius: 5px;
  border: 0;
  padding: 10px 20px;
  margin: 10px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: #26c17e;
}

.button_text {
  padding-left: 10px;
  padding-right: 10px;
}

@media (max-width: 600px) {
  .mini {
    margin: 0;
    padding: 1px;
    font-size: 14px;
  }

  .mini :nth-child(2) {
    display: none;
  }
}
