.experience_list li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
  font-size: 16px;
}

.experience_list h3 {
  margin-bottom: 5px;
  font-weight: 700;
}

.experience_list p {
  font-size: 16px;
}

/* Styles for the .date class */
.date {
  flex-basis: 100px;
  margin-right: 20px;
}
