.reporter {
  margin-top: 15px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  font-size: 12px;
}

.reporter a {
  color: #26c17e;
  text-decoration: underline;
}

.photo1 {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  border-radius: 50%;
}
