.nav {
  margin-top: 30px;
  font-size: 16px;
  font-weight: 600;
  color: #667081;
  width: 250px;
}

.nav_link {
  display: flex;
  align-items: center;
  padding: 20px 16px;
  cursor: pointer;
  background-color: #222935;
}
.flex {
  display: flex;
  align-items: center;
  gap: 50px;
}

.nav li:hover {
  color: #26e17c;
}

.nav_icon {
  margin-right: 20px;
  flex-basis: 45px;
}

@media (max-width: 600px) {
  .nav {
    width: 55px;
  }
  .nav_section {
    display: none;
  }

  .flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: -78px;
  }
  .flex p {
    display: none;
  }
}
