.panel {
  position: relative;
  width: 250px;
  height: 100%;
  background-color: #222935;
  text-align: center;
  display: flex;
  flex-direction: column;
  transition: all 1s ease-in-out;
}

.hidden1 {
  margin-left: -250px;
  display: block;
}

.hamburger_menu {
  position: absolute;
  top: 60px;
  left: 100%;
  color: #fff;
  background-color: #222935;
  width: 20px;
  height: 20px;
  padding: 5px;
  border-radius: 0% 25% 25% 0%;
  font-size: 17px;
  text-align: center;
}

.empty {
  flex-grow: 5;
}

@media (max-width: 600px) {
  .panel {
    width: 55px;
  }

  .hidden {
    margin-left: -55px;
  }
}
