.photoBox {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.photoBox img {
  margin-top: -100px;
  margin-left: -50px;
}

.photo {
  margin-bottom: 10px;
}

.photo img {
  border-radius: 50%;
  border: 1px solid #fff;
}

.name {
  margin-bottom: 10px;
  font-size: 45px;
  font-weight: 700;
  line-height: 120%;
}

.title {
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: 600;
  line-height: 120%;
}

.description {
  line-height: 150%;
}

.description::after {
  display: none;
}

.small {
  width: 250px;
  padding-top: 20px;
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 36px;
}

.name_small {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
}

@media (max-width: 600px) {
  .small {
    width: 55px;
  }

  .small img {
    height: 40px;
    width: 40px;
    margin-left: 14px;
  }

  .name_small {
    display: none;
  }
}
