.overlay_content {
  padding: 0 15px;
  font-size: 16px;
}

.overlay_content h2 {
  font-size: 16px;
  margin-bottom: 0;
}

.overlay_content p {
  margin: 10px 0;
}

.overlay_content a {
  color: #26e17c;
  text-decoration: underline;
}
