.filter_container {
  position: relative;
}

.filter_item {
  margin-right: 15px;
  margin-bottom: 15px;
}

.overlay {
  position: absolute;
  left: 0px;
  bottom: 0px;
  right: 0px;
  height: 0;
  overflow: hidden;
  transition: all 0.5s ease-out;
}

.filter_item:hover .overlay {
  height: 100%;
  background: rgba(255, 255, 255, 0.95);
  border-width: 1px;
  border-style: solid;
  border-color: #dddddd;
}

.tabs {
  display: flex;
  margin-bottom: 20px;
  font-size: 16px;
}

.tabs li::after {
  position: absolute;
  top: 0;
  left: 70%;
  content: "  /";
}

.tabs li:last-child::after {
  content: "";
}

.tabs li {
  position: relative;
  padding-right: 20px;
  cursor: pointer;
}

.active {
  color: #26e17c;
}
