.wrapper {
  position: relative;
  max-width: 100%;
}

.open_edit {
  position: absolute;
  top: -65px;
  right: 0;
}

.hidden {
  display: none;
}

.grid_container {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  grid-template-rows: 40px 20px 40px 20px;
  column-gap: 10px;
  margin-bottom: 10px;
}

form {
  position: relative;
  max-width: 60%;
}

form label {
  align-self: center;
}

form input {
  border: 1px solid #222935;
  border-radius: 5px;
}

.error {
  grid-column-end: span 2;
  color: red;
  font-size: 12px;
}

.submit_btn {
  padding-left: 4px;
  padding-right: 4px;
  margin-left: 0;
  width: 105px;
}

.submit_btn:disabled {
  background-color: #2e343d;
  color: black;
}

.invalid {
  border: 2px solid red;
}

.frame {
  margin-bottom: 40px;
  border: 1px solid #26c17e;
  padding: 20px;
  border-radius: 5px;
}

.chart {
  height: 30px;
  line-height: 30px;
  background-color: #26c17e;
  padding-left: 15px;
  margin-bottom: 5px;
  color: #fff;
}

.scale {
  margin-top: 30px;
  display: flex;
  font-size: 12px;
  color: #667081;
  border-top: 1px solid #667081;
  justify-content: space-between;
}

.scale div {
  position: relative;
}

.scale :first-child {
  justify-self: start;
}

.scale :last-child {
  justify-self: end;
}

.profficient::before,
.expert::before {
  position: absolute;
  content: "|";
  font-size: 8px;
  font-weight: 700;
  top: -16px;
  left: 48%;
}

.beginner::after {
  position: absolute;
  content: "|";
  font-size: 8px;
  font-weight: 1000;
  top: -16px;
  left: -2px;
}

.master::after {
  position: absolute;
  content: "|";
  font-size: 8px;
  font-weight: 1000;
  top: -16px;
  right: -2px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}
