.timeline {
  position: relative;
  padding-right: 10px;
  min-height: 30vh;
  max-height: 80vh;
  overflow: auto;
}

.timeline li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

.description {
  position: relative;
}

.description::after {
  content: "";
  position: absolute;
  top: 15px;
  left: -10px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #eee;
}

.timeline::before {
  width: 5px;
  content: "";
  background-color: #26e17c;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 10px;
  width: 4px;
  margin-left: 22px;
}

.date {
  position: relative;
  padding: 15px;
  margin-right: 10px;
  background-color: #fff;
  font-size: 16px;
  font-weight: bold;
}

.icon {
  text-align: center;
  color: #26e17c;
}

.error {
  color: red;
  text-align: center;
}

.spinning_wheel {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
